<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calc-It III : This Time it's Ruby!</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Basic">Basic</a></li>
      <li><a href="/Mortgage">Mortgage</a></li>
      <li><a href="/BMI">BMI</a></li>
      <li><a href="/Trip">Trip</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>